.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header */
.header {
  background-color: #7dcfc4;
  height: 4em;
}

#header-img {
  height: 80%;
}

/* Beer list */
.list-body {
  width: 80%;
  margin: 0 auto;
}

.beer-item {
  display: flex;
  justify-content: space;
  align-items: center;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: rgb(173, 173, 173) 1px solid;
  color: inherit;
  text-decoration: none;
}

.beer-img {
  height: 10em;
  width: 10em;
  object-fit: contain;
}

.beer-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.beer-tagline {
  color: grey;
  font-size: 1.2em;
  margin: 0;
}

.beer-created-by {
  margin: 0;
  font-size: 0.8em;
}

/* Single Beer */

.single-beer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5em auto;
  width: 70%;
}

.single-beer-image {
  height: 10em;
  object-fit: contain;
  align-self: center;
}

.name-and-attenuation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tagline-and-firstBrewed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tagline-and-firstBrewed small {
  font-weight: bold;
  margin-left: 3em;
}
.single-beer-description {
  text-align: left;
}
